.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
.DS_Store
Thumbs.db
*.log
*.aux
*.out
*.toc
__pycache__/
.ipynb_checkpoints/
data/raw/private/

/.quarto/
**/*.quarto_ipynb

# Matlab / IRIS temporales
*.asv
matlab/ipom/**/tp*/
matlab/ipom/**/*.pdf
matlab/ipom/**/*.log
